@page
@model BulkyWebRazor_Temp.Pages.Categories.Delete


<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div class="card shadow border-0">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Category</h2>
                <hr/>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="category.Id" hidden/>
            <div class="border p-3">
                <div class="row pb-2">
                    <h2 class="text-primary">Delete Category</h2>
                    <hr/>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="category.Name" class="p-0"></label>
                    <input asp-for="category.Name" class="form-control" disabled/>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="category.DisplayOrder" class="p-0"></label>
                    <input asp-for="category.DisplayOrder" class="form-control" disabled/>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-page="/Categories/Index" class="btn btn-secondary border form-control">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>
</body>
</html>